<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Form</title>
</head>
<body>
    <h1>Appointment Form</h1>
    <form action="post" id="form">
        <label for="fname">First Name <input type="text" id="fname"></label>
        <label for="lname">Last Name <input type="text" id="lname"></label>
        <label for="date">Date <input type="date" id="date"></label>
        <label for="time">Time <input type="time" id="time"></label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>