<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Form</title>
    <link rel="stylesheet" href="styles/style.css">
    <script src="js/formVal.js" defer></script>
</head>
<body>
    <div>
        <form action="reservation" id="form" method="post">
            <legend>Appointment Form</legend>
            <label for="fname">First Name <input type="text" id="fname" name="fname"></label>
            <br>
            <span id="err-fname" class="error">First name cannot be empty!</span>
            <br>
            <label for="lname">Last Name <input type="text" id="lname" name="lname"></label>
            <br>
            <span id="err-lname" class="error">Last name cannot be empty!</span>
            <br>
            <label for="date">Date <input type="date" id="date" name="date"></label>
            <br>
            <span id="err-date" class="error">Date cannot be empty!</span>
            <br>
            <label for="time">Time <input type="time" id="time" name="time"></label>
            <br>
            <span id="err-time" class="error">Time cannot be empty!</span>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
   
</body>
</html>