button {
    padding: 10px 15px;
    background-color: lightblue;
    color: black;
    border: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
body{
    background-color: rgb(177, 177, 177);
}
div{
    margin: 0 40%;
}
form{
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    width: 200px;
}
legend{
    padding: 5px;
}
.error {
    color: darkred;
    display: none;
}